header.main-header
    a(href='/').logo
        span.logo-mini
            <b>TS</b> 
        span.logo-lg
            <b>TAS</b>
    nav(role='navigation').navbar.navbar-static-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle.fa6.sidebar-mini
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar